html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent default margin and scrollbar */
  }
  
  body {
    color: #191919;
    font-family: 'Arial', sans-serif;
  }
  
  canvas {
    display: block; /* Remove default inline styles */
    margin: auto;
    background-color: #f0f0f0; /* Set a background color */
  }
  